@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Love+Ya+Like+A+Sister|Special+Elite&display=swap');

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #ffffff;
}
.navi{
    float: center;
}
.landing{
    background-image: url(https://3.bp.blogspot.com/-9yDjI2LhMAk/W-7EMqZfVTI/AAAAAAAAA6E/TqsA7uF6uIc3J3B62CbHsvKHO8b-W_odgCHMYCw/s1600/pizza-wallpaper-phone-amazing-wallpapers-in-2018-pinterest.jpg);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding:400px
}
.landing-text {
    margin-top: 10%;
}

.landing-text h1, h2 {
    font-family: 'Love Ya Like A Sister', cursive;
}

.landing-text h1 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 60px;
}
#spantext {
    color: yellow;
}
.pizz {
    color: lawngreen;
}

#spantext {
    color: yellow;
}
#pi{
    color: darkorange;
}
#piz-pap {
    font-family: 'Shadows Into Light', cursive;
    font-size: 35px;
    font-weight: normal;
    color: darkorange;
}
.menu {
    margin-top: 30px;
    background-image: url("../images/sec/b4.jpg");
    padding: 0;
}

#menu {
    font-family: 'Love Ya Like A Sister', cursive;
}

.menu-overlay {
    height: inherit;
    width: inherit;
    background-color: rgba(0, 0, 0, 0.7);
}
.karibu-img {
    margin-top: 10px;
    margin-left: 80px;
    margin-bottom: 130px;
    height: 400px;
    width: 400px;
}
.welcome {
    padding-top: 30px;
}